<div class="container-fluid d-flex flex-column align-items-center my-3">

    <div class="container">
        <div class="text-center m-3">
            Vous cherchez un film précis ? 
            Un genre, une année, ou des émotions particulières à explorer ? 
            Affinez vos recherches ici pour trouver exactement ce que vous voulez regarder.
        </div>
        <hr>
        <form name="filterForm" action="/moviesList" method="post">
            <button type="button" class="btn btn-block btn-dark m-1">Filtres</button>
            <button type="reset" class="btn btn-block btn-light m-1">Supprimer tous les filtres</button>
            <hr>
            <div id="FilterDiv" class="container container-fluid d-flex justify-content-around align-items-center m-2">
                <!-- Section à faire glisser depuis le coté gauche de la page -->
                {{!-- <div id="humorFilter" class="filter">
                    <label for="humorSelect">Emotions:</label>
                    <select name="humorSelect" id="humorSelect">
                        <option value="allHumors" selected>Toutes</option>
                        <option value="fear">Peur</option>
                        <option value="happy">Joie</option>
                        <option value="peaceful">Apaisé</option>
                        {{#each humors}}
                            <option value="{{humorValue}}">{{humor}}</option>
                        {{/each}}
                    </select>
                </div> --}}

                <div id="genreFilter" class="filter">
                    {{!-- <label for="genreSelect">Genres:</label>
                    <select name="genreSelect" id="genreSelect">
                        <option value="allGenres" selected>Tous</option>
                        {{#each genres}}
                            <option value="{{normalizeString libelle}}">{{libelle}}</option>   
                        {{/each}}
                    </select> --}}
                    <button name="accessGenreOptions" type="button" class="btn btn-block btn-light">Genres</button>
                    <div id="genreOptions" class="">
                        {{#each genresList}}
                            <div class="container border border-2 m-1">
                                <label for="{{normalizeString this.genre_libelle}}Option">{{this.genre_libelle}}</label>
                                <input id="{{normalizeString this.genre_libelle}}Option" type="checkbox" name="genres[{{this.genre_libelle}}]">
                            </div>
                        {{/each}}
                    </div>
                </div>


                {{!-- <div id="runtimeFilter" class="filter">
                    <label for="runtimeScale">Durée du film en minutes:</label>
                    <input id="runtimeScale" type="range" min="0" max="300" step="10">
                </div>
            
                <div id="releasedDateFilter" class="filter">
                    <label for="releasedDateScale">Date de sortie du film:</label>
                    <input id="releasedDateScale" type="range" min="1950" max="2024" step="1">
                </div>
            
                <div id="noteFilter" class="filter">
                    <label for="AvgNoteScale">Note globale du film:</label>
                    <input id="AvgNoteScale" type="range" min="0" max="10" step="0.5">
                </div> --}}
            </div>
            <div>
                <button type="submit" class="btn btn-block btn-dark">Appliquer les filtres</button>
            </div>
        </form>
    </div>

    <div id="FilterMoviesDisplay" class="gridMovies w-100 m-3 bg-danger">
        {{#each FilteredMovies}}
            {{> movieDisplay}}
        {{/each}}
    </div>

    <div class="container d-flex justify-content-center align-items-center">
        <button class="btn btn-light border rounded-left"> < </button>
        <p class="text-center bg-light mb-0 p-2 border rounded-1">Naviguer à travers les films</p>
        <button class="btn btn-light border rounded-right"> > </button>
    </div>
</div>