{{!-- Contenu de la page de filtre : --}}
<div class="container-fluid d-flex flex-column align-items-center my-3">

    <div id="filters-section">
        {{!-- Conteneur d'explication : --}}
        <div class="explication-text">
            <p> Vous cherchez un film précis ? Un genre, une année, ou des émotions particulières à explorer ?</p>
            <p>Affinez vos recherches ici pour trouver exactement ce que vous voulez regarder.</p>
        </div>

        {{!-- Formulaire des filtres : --}}
        <form name="filterForm" action="/explore-movies" method="post" id="filters-form" class="card">
            <div id="reset-filters">
                {{!-- Bouton de réinitialisation des filtres : --}}
                <button id="reset-filters-button" type="reset">Supprimer tous les filtres</button>
            </div>
            
            <div id="submit-filters">
                {{!-- Bouton de soumission du formulaire des filtres : --}}
                <button id="submit-filters-button" type="submit">Appliquer les filtres</button>
            </div>

            {{!-- Séparation : --}}

            {{!-- Affichage du filtre sur les genres : --}}
            <div id="genre-filter" class="filter">
                <p>Genres:</p>

                {{!-- Afficahge des genres filtrables : --}}
                <div id="genre-options">
                    {{!-- Pour chaque élément/genre dans genresList : --}}
                    {{#each genresList}} 
                        <div class="genre">
                            {{!-- Création du label du genre de manière dynamique (normalisation des identifiants) : --}}
                            <label for="{{normalizeString this.genre_libelle}}Option">{{this.genre_libelle}}</label>
                            {{!-- Si le genre est séléctionné : --}}
                            {{#if this.selected}}
                                {{!-- Coché le bouton : --}}
                                <input id="{{normalizeString this.genre_libelle}}Option" class="genre-checkbox" type="checkbox" name="genres[{{this.genre_libelle}}]" checked>
                            {{else}}
                                {{!-- Décoché le bouton : --}}
                                <input id="{{normalizeString this.genre_libelle}}Option" class="genre-checkbox" type="checkbox" name="genres[{{this.genre_libelle}}]">
                            {{/if}}
                        </div>
                        {{!-- Fin de la boucle. --}}
                    {{/each}}
                </div>
            </div>
            
            {{!-- Affichage du filtre sur les durées : --}}
            <div id="runtime-filter" class="filter">
                <p>Durée des films :</p>
                {{!-- Affichage de la durée minimale : --}}
                <label for="runtimeMinScale">Durée minimale : <span id="runtimeMinDisplay">...</span> </label><br>
                {{!-- Si un ancien filtre est enregistré : --}}
                {{#if currentFilters.minRuntime}}
                    <input id="runtimeMinScale" name="runtimeMinScale" type="range" min="20" max="300" step="10" value="{{currentFilters.minRuntime}}">
                {{else}}
                    {{!-- Sinon : --}}
                    <input id="runtimeMinScale" name="runtimeMinScale" type="range" min="20" max="300" step="10" value="20">
                {{/if}}
                <br>

                {{!-- Affichage de la durée maximale : --}}
                <label for="runtimeMaxScale">Durée maximale : <span id="runtimeMaxDisplay">...</span> </label><br>
                {{!-- Si un ancien filtre est enregistré : --}}
                {{#if currentFilters.maxRuntime}}
                    <input id="runtimeMaxScale" name="runtimeMaxScale" type="range" min="20" max="300" step="10" value="{{currentFilters.maxRuntime}}">
                {{!-- Sinon : --}}
                {{else}}
                    <input id="runtimeMaxScale" name="runtimeMaxScale" type="range" min="20" max="300" step="10" value="300">
                {{/if}}
            </div>

            {{!-- Affichage du filtres sur les dates de sortie : --}}
            <div id="released-date-filter" class="filter">
                <p>Années de sortie :</p>
                {{!-- Affichage de la date de sortie minimale : --}}
                <label for="dateMinScale">Sorti après : <span id="dateMinDisplay">...</span> </label><br>
                {{!-- Si un ancien filtre est enregistré : --}}
                {{#if currentFilters.minReleasedDate}}
                    <input id="dateMinScale" name="dateMinScale" type="range" min="1950" max="2024" step="1" value="{{currentFilters.minReleasedDate}}">
                {{!-- Sinon : --}}
                {{else}}
                    <input id="dateMinScale" name="dateMinScale" type="range" min="1950" max="2024" step="1" value="1950">
                {{/if}}
                <br>

                {{!-- Affichage de la date de sortie maximale : --}}
                <label for="dateMaxScale">Sorti avant : <span id="dateMaxDisplay">...</span> </label><br>
                {{!-- Si un ancien filtre est enregistré : --}}
                {{#if currentFilters.maxReleasedDate}}
                    <input id="dateMaxScale" name="dateMaxScale" type="range" min="1951" max="2025" step="1" value="{{currentFilters.maxReleasedDate}}">
                {{!-- Sinon : --}}
                {{else}}
                    <input id="dateMaxScale" name="dateMaxScale" type="range" min="1951" max="2025" step="1" value="2025">
                {{/if}}
            </div>

            {{!-- Affichage du filtre sur les notes : --}}
            <div id="note-filter" class="filter">
                <p>Note moyenne du film :</p>
                {{!-- Affichage de la note minimale : --}}
                <label for="noteMinScale">Note minimale : <span id="noteMinDisplay">...</span> </label><br>
                {{!-- Si un ancien filtre est enregistré : --}}
                {{#if currentFilters.minAvgNote}}
                    <input id="noteMinScale" name="noteMinScale" type="range" min="0" max="9.9" step="0.1" value="{{currentFilters.minAvgNote}}">
                {{else}}
                    {{!-- Sinon : --}}
                    <input id="noteMinScale" name="noteMinScale" type="range" min="0" max="9.9" step="0.1" value="0">
                {{/if}}
                <br>

                {{!-- Affichage de la note maximale : --}}
                <label for="noteMaxScale">Note maximale : <span id="noteMaxDisplay">...</span> </label><br>
                {{!-- Si un ancien filtre est enregistré : --}}
                {{#if currentFilters.maxAvgNote}}
                    <input id="noteMaxScale" name="noteMaxScale" type="range" min="0.1" max="10" step="0.1" value="{{currentFilters.maxAvgNote}}">
                {{!-- Sinon : --}}
                {{else}}
                    <input id="noteMaxScale" name="noteMaxScale" type="range" min="0.1" max="10" step="0.1" value="300">
                {{/if}}
            </div>
            {{!-- Fin du formulaire. --}}
        </form>
    </div>

    {{!-- Conteneur d'affichage des films : --}}
    <div id="filterMoviesDisplay" class="moviesDisplay">
        {{!-- Pour chaque film obtenu suite à la recherche par filtre : --}}
        {{#each filteredMovies}}
            {{!-- Générer le partial d'affichage des films : --}}
            {{> movieDisplay}}
        {{/each}}
    </div>
</div>