{{!-- Template de soumission d'avis pour un film par un utilisateur --}}
<div class="container-fluid d-flex">
    {{!-- Réaffichage du film précédemment séléctionné --}}
    <div class="w-25">
        {{#each movie}}
            {{> movieDisplay}}
        {{/each}}
    </div>

    {{!-- Formulaire d'avis utilisateur --}}
    <div class="w-75 d-flex flex-column my-1">
        <p>Écrivez votre commentaire ici :</p>
        <form name="reviewForm" action="/shareReview" method="post" class="card d-flex flex-column align-self-center justify-content-evenly w-75 p-2">

            {{!-- Balise masquée pour récupérer facilement l'identifiant utilisateur --}}
            <input type="hidden" name="movie" value="{{movie.[0].movie_id_movie}}">

            {{!-- Utilisation d'un helper spécifique pour gérer le cas d'un Invité --}}
            {{#ifnot userData}}
                <p class="text-danger text-center">Créer un compte utilisateur afin de partager votre avis avec la communauté.</p>
            {{/ifnot}}
            {{#if noData}}
                <p>Votre avis n'a pas été sauvegardé !</p>
                <p class="text-danger text-center">Veuillez enregistrer des émotions ressenties ou un commentaire pour que votre avis soit pris en compte.</p>
            {{/if}}

            <div class="d-flex justify-content-between m-3">
                <div>
                    <button type="reset">Effacer</button> {{!-- Réinitiliser les données --}}
                </div>
                <div>
                    {{!-- Note attribuée au film --}}
                    <label for="noteInput">Note : <span id="noteDisplay"></span> /10</label>
                    <input id="noteInput" name="note" type="range" min="0" max="10" value="0">

                    {{!-- Film favori ou non --}}
                    <label for="favInput">Favori :</label>
                    <input id="favInput" name="fav" type="checkbox">
                </div>
            </div>

            <div id="emotionsContainer" class="d-flex flex-wrap">
                {{!-- Pour chaque emotion : --}}
                {{#each emotionsList}}
                    {{!-- Générer un conteneur --}}
                    <div id="{{normalizeString this.emotion_name}}Div" class="btn btn-info m-1">
                        {{!-- Avec un label et une case à cocher avec le nom de l'émotion --}}
                        <label for="{{normalizeString this.emotion_name}}Option">{{this.emotion_name}}</label>
                        <input id="{{normalizeString this.emotion_name}}Option" name="emotions[{{normalizeString this.emotion_name}}]" type="checkbox">
                    </div>
                {{/each}}
            </div>

            <div class="m-3">
                {{!-- Zone de texte pour un commentaire plus détaillée --}}
                <label for="commentInput">Ajouter un commentaire à la suite de votre visionnage :</label><br>
                <textarea id="commentInput" name="comment"></textarea>
            </div>

            <details>
                <summary>Information de publication</summary>
                 <p>Si vous souhaitez que votre avis soit enregistré, vous devez transmettre un vote d'émotions ou alors un commentaire en plus de votre note.</p>
            </details>

            {{!-- Si l'utilisateur a un compte --}}
            {{#if userData}}
                <button type="submit">Publier</button>
            {{!-- S'il est juste invité --}}
            {{else}}
                <button type="submit" disabled>Publier</button>
            {{/if}}
        </form>
    </div>
</div>
<hr>
<div class="container-fluid d-flex flex-column align-items-center">
    <div class="feedbackDisplay">
        {{#if reviews}}
            {{#each reviews}}
                {{> feedbackDisplay}}
            {{/each}}
        {{else}}
            <p>Aucun commentaire n'a encore été publié pour ce film.</p>
        {{/if}}
    </div>
</div>
