{{!-- Contenu de la page de publication d'avis utilisateur : --}}
<div class="container-fluid d-flex justify-content-between">
    {{!-- Réaffichage du film précédemment séléctionné : --}}
    <div class="w-25">
        {{#each movie}}         {{!-- Pour le film séléctionné : --}}
            {{> movieDisplay}}  {{!-- Afficher le partial suivant : --}}
        {{/each}}
    </div>

    <div id="register-review">
        <p class="explication-text">Écrivez votre commentaire ici :</p>

        {{!-- Formulaire d'avis utilisateur : --}}
        <form name="reviewForm" action="/share-review" method="post" id="review-form" class="card">

            {{!-- Balise masquée pour récupérer facilement l'identifiant du film correspondant : --}}
            <input type="hidden" name="movie" value="{{movie.[0].movie_id_movie}}">

            {{!-- S'il n'y a pas d'utilisateur connecté : --}}
            {{#ifnot userData}}
                <p class="error-container">Créer un compte utilisateur afin de partager votre avis avec la communauté.</p>
            {{/ifnot}}
            {{!-- Si l'utilisateur a déjà publié un avis : --}}
            {{#if existingReview}}
                <p class="error-container">Vous avez déjà enregistré un avis pour ce film !</p>
                <p class="error-container"><b>Il est encore impossible de modifier un avis à l'heure actuelle...</b></p>
            {{/if}}

            {{!-- Conteneur d'en-tête de l'avis (note et favori) : --}}
            <div id="review-form-header">
                {{!-- Bouton pour réinitialiser l'avis : --}}
                <div>
                    {{#ifnot-or-if userData existingReview}}
                        <button type="reset" disabled>Effacer</button>
                    {{!-- Sinon : --}}
                    {{else}}
                        <button type="reset">Effacer</button>
                    {{/ifnot-or-if}}
                </div>
                <div>
                    {{!-- Note à attribuer au film : --}}
                    <label for="noteInput">Note : <span id="noteDisplay"></span>/10</label>
                    {{!-- Si aucun utilisateur est connecté ou qu'un avis est déjà publié par l'utilisateur : --}}
                    {{#ifnot-or-if userData existingReview}}
                        <input id="noteInput" name="note" type="range" min="0" max="10" value="0" disabled>
                    {{!-- Sinon : --}}
                    {{else}}
                        <input id="noteInput" name="note" type="range" min="0" max="10" value="0">
                    {{/ifnot-or-if}}

                    {{!-- Film à mettre en favori ou non : --}}
                    <label for="fav-input">Favori :</label>
                    {{!-- Si aucun utilisateur est connecté ou qu'un avis est déjà publié par l'utilisateur : --}}
                    {{#ifnot-or-if userData existingReview}}
                        <input id="fav-input" name="fav" type="checkbox" disabled>
                    {{!-- Sinon : --}}
                    {{else}}
                        <input id="fav-input" name="fav" type="checkbox">
                    {{/ifnot-or-if}}
                </div>
            </div>

            {{!-- Conteneur de choix des émotions : --}}
            <div id="emotions-container">
                {{!-- Si aucun utilisateur est connecté ou qu'un avis est déjà publié par l'utilisateur : --}}
                {{#ifnot-or-if userData existingReview}}
                    {{!-- Pour chaque emotion : --}}
                    {{#each emotionsList}}
                        {{!-- Générer un conteneur : --}}
                        <div id="{{normalizeString this.emotion_name}}Div" class="emotion">
                            {{!-- Avec un label et une case à cocher avec le nom de l'émotion DESACTIVE : --}}
                            <label for="{{normalizeString this.emotion_name}}Option">{{this.emotion_name}}</label>
                            <input id="{{normalizeString this.emotion_name}}Option" class="emotion-checkbox" name="emotions[{{normalizeString this.emotion_name}}]" type="checkbox" disabled>
                        </div>
                    {{/each}}
                {{!-- Sinon : --}}
                {{else}}
                    {{!-- Pour chaque emotion : --}}
                    {{#each emotionsList}}
                        {{!-- Générer un conteneur : --}}
                        <div id="{{normalizeString this.emotion_name}}Div" class="emotion">
                            {{!-- Avec un label et une case à cocher avec le nom de l'émotion : --}}
                            <label for="{{normalizeString this.emotion_name}}Option">{{this.emotion_name}}</label>
                            <input id="{{normalizeString this.emotion_name}}Option" class="emotion-checkbox" name="emotions[{{normalizeString this.emotion_name}}]" type="checkbox">
                        </div>
                    {{/each}}
                {{/ifnot-or-if}}
            </div>

            {{!-- Conteneur de zone de texte : --}}
            <div id="comment-container">
                <label for="commentInput">Ajouter un commentaire à la suite de votre visionnage :</label><br>
                {{!-- Si aucun utilisateur est connecté ou qu'un avis est déjà publié par l'utilisateur : --}}
                {{#ifnot-or-if userData existingReview}}
                    <textarea id="commentInput" name="comment" disabled></textarea>
                {{!-- Sinon : --}}
                {{else}}
                    <textarea id="commentInput" name="comment" placeholder="Ecriver quelque chose :"></textarea>
                {{/ifnot-or-if}}
            </div>

            <div id="review-form-footer">
                {{!-- Liste déroulante des conditions de publication de l'avis : --}}
                <details>
                    <summary><b>Conditions de publication</b></summary>
                        <p>Si vous souhaitez que votre avis soit enregistré, vous devez :</p>
                        <ul>
                            <li>Transmettre un vote d'émotions OU un commentaire EN PLUS de votre note.</li>
                            <li>Séléctionner 3 émotions ou moins pour votre vote.</li>
                            <li>Partager un commentaire de moins de 500 caractères.</li>
                            <li>Rester poli(e) et cordial(e) dans vos commentaires.</li>
                        </ul>
                        <p>Tout manquement à ces conditions aura pour conséquence <b>l'impossibilité d'enregristrer
                            votre avis</b> aisni que de vous exposez à un <b>bannissement</b> de la communauté.</p>
                </details>

                {{!-- Si aucun utilisateur est connecté ou qu'un avis est déjà publié par l'utilisateur : --}}
                {{#ifnot-or-if userData existingReview}}
                    <button type="submit" disabled>Publier</button>
                {{!-- Sinon, s'il est inscrit et qu'il n'a pas encore enregistré d'avis : --}}
                {{else}}
                    <button type="submit">Publier</button>
                {{/ifnot-or-if}}
            </div>
        </form>
    </div>
</div>

{{!-- Séparation : --}}

{{#if reviews}}     {{!-- Si une donnée sur les avis existe : --}}
{{!-- Conteneur d'affichage des avis existants pour ce film : --}}
    <div id="feedback-display">
        {{#each reviews}}   {{!-- Pour chaque avis : --}}
            {{> feedbackDisplay}}   {{!-- Afficher le partial suivant : --}}
        {{/each}}
    </div>
{{else}}            {{!-- Sinon : --}}
    <p class="explication-text">Aucun commentaire n'a encore été publié pour ce film.</p>
{{/if}}
