{{!-- Template de soumission d'avis pour un film par un utilisateur --}}
<div class="container-fluid d-flex">
    {{!-- Réaffichage du film précédemment séléctionné --}}
    <div class="w-25">
        {{#each movie}}
            {{> movieDisplay}}
        {{/each}}
    </div>

    {{!-- Formulaire d'avis utilisateur --}}
    <div class="w-75 d-flex flex-column my-1">
        <p>Écrivez votre commentaire ici :</p>
        <form name="reviewForm" action="/share-review" method="post" class="card d-flex flex-column align-self-center justify-content-evenly w-75 p-2">

            {{!-- Balise masquée pour récupérer facilement l'identifiant utilisateur --}}
            <input type="hidden" name="movie" value="{{movie.[0].movie_id_movie}}">

            {{!-- Utilisation d'un helper spécifique pour gérer le cas d'un Invité --}}
            {{#ifnot userData}}
                <p class="text-danger text-center">Créer un compte utilisateur afin de partager votre avis avec la communauté.</p>
            {{/ifnot}}
            {{#if existingReview}}
                <p class="text-danger text-center">Vous avez déjà enregistré un avis pour ce film !</p>
                <p class="text-danger text-center"><b>Il est encore impossible de modifier un avis à l'heure actuelle...</b></p>
            {{/if}}

            <div class="d-flex justify-content-between m-3">
                <div>
                    <button type="reset">Effacer</button> {{!-- Réinitiliser les données --}}
                </div>
                <div>
                    {{!-- Note attribuée au film --}}
                    <label for="noteInput">Note : <span id="noteDisplay"></span> /10</label>
                    {{#ifnot-or-if userData existingReview}}
                        <input id="noteInput" name="note" type="range" min="0" max="10" value="0" disabled>
                    {{else}}
                        <input id="noteInput" name="note" type="range" min="0" max="10" value="0">
                    {{/ifnot-or-if}}

                    {{!-- Film favori ou non --}}
                    <label for="favInput">Favori :</label>
                    {{#ifnot-or-if userData existingReview}}
                        <input id="favInput" name="fav" type="checkbox" disabled>
                    {{else}}
                        <input id="favInput" name="fav" type="checkbox">
                    {{/ifnot-or-if}}
                </div>
            </div>

            <div id="emotionsContainer" class="d-flex flex-wrap">
                {{#ifnot-or-if userData existingReview}}
                    {{!-- Pour chaque emotion : --}}
                    {{#each emotionsList}}
                        {{!-- Générer un conteneur --}}
                        <div id="{{normalizeString this.emotion_name}}Div" class="btn btn-info m-1">
                            {{!-- Avec un label et une case à cocher avec le nom de l'émotion --}}
                            <label for="{{normalizeString this.emotion_name}}Option">{{this.emotion_name}}</label>
                            <input id="{{normalizeString this.emotion_name}}Option" name="emotions[{{normalizeString this.emotion_name}}]" type="checkbox" disabled>
                        </div>
                    {{/each}}
                {{else}}
                    {{!-- Pour chaque emotion : --}}
                    {{#each emotionsList}}
                        {{!-- Générer un conteneur --}}
                        <div id="{{normalizeString this.emotion_name}}Div" class="btn btn-info m-1">
                            {{!-- Avec un label et une case à cocher avec le nom de l'émotion --}}
                            <label for="{{normalizeString this.emotion_name}}Option">{{this.emotion_name}}</label>
                            <input id="{{normalizeString this.emotion_name}}Option" name="emotions[{{normalizeString this.emotion_name}}]" type="checkbox">
                        </div>
                    {{/each}}
                {{/ifnot-or-if}}
            </div>

            <div class="m-3">
                {{!-- Zone de texte pour un commentaire plus détaillée --}}
                <label for="commentInput">Ajouter un commentaire à la suite de votre visionnage :</label><br>
                {{#ifnot-or-if userData existingReview}}
                    <textarea id="commentInput" name="comment" disabled></textarea>
                {{else}}
                    <textarea id="commentInput" name="comment" placeholder="Ecriver quelque chose :"></textarea>
                {{/ifnot-or-if}}
            </div>

            <details>
                <summary><b>Conditions de publication</b></summary>
                    <p>Si vous souhaitez que votre avis soit enregistré, vous devez :</p>
                    <ul>
                        <li>Transmettre un vote d'émotions OU un commentaire EN PLUS de votre note.</li>
                        <li>Séléctionner 3 émotions ou moins pour votre vote.</li>
                        <li>Partager un commentaire de moins de 500 caractères.</li>
                        <li>Rester poli(e) et cordial(e) dans vos commentaires.</li>
                    </ul>
                    <p>Tout manquement à ces conditions aura pour conséquence <b>l'impossibilité d'enregristrer
                        votre avis</b> aisni que de vous exposez à un <b>bannissement</b> de la communauté.</p>
            </details>

            {{!-- Si l'utilisateur est invité ou qu'un avis existe déjà en tant qu'utilisateur inscrit --}}
            {{#ifnot-or-if userData existingReview}}
                <button type="submit" disabled>Publier</button>
            {{!-- S'il est inscrit et qu'il n'a pas encore d'avis --}}
            {{else}}
                <button type="submit">Publier</button>
            {{/ifnot-or-if}}
        </form>
    </div>
</div>
<hr>
<div class="container-fluid d-flex flex-column align-items-center">
    <div class="feedbackDisplay">
        {{#if reviews}}
            {{#each reviews}}
                {{> feedbackDisplay}}
            {{/each}}
        {{else}}
            <p>Aucun commentaire n'a encore été publié pour ce film.</p>
        {{/if}}
    </div>
</div>
