{{!-- Partial / Template d'affichage des commentaires/avis de film : --}}
<div id="review-card">

    {{!-- En-tête de l'avis : --}}
    <div id="review-card-header">
        {{!-- Affichage de la note choisie : --}}
        <div id="review-note">
            <p><b>Note:</b> {{opinion_note}}/10</p>
        </div>
        {{!-- Affichage des émotions votées : --}}
        <div id="review-emotions">
            <p><b>Emotions votées:</b></p>
            <div id="emotions-list">
                {{#if vote}}
                    {{#each vote}}  {{!-- Boucler la génération des émotions votées : --}}
                        <p> {{emotion}} </p>
                    {{/each}}
                {{else}}
                    <p>Aucune émotions votées.</p>
                {{/if}}
            </div>
        </div>
    </div>
    {{!-- Corps de l'avis : --}}
    <div id="review-card-body">
        {{!-- Affichage du commentaire rédigé : --}}
        <div id="review-comment">
            {{#if opinion_comment}} {{!-- Si un commentaire existe : --}}
                <p><b>Commentaire :</b> {{opinion_comment}}</p>
            {{else}}
                <p>Aucun commentaire publié.</p>
            {{/if}}
        </div>
    </div>

    {{!-- Pied de page de l'avis : --}}
    <div id="review-card-footer">
        {{!-- Afficher l'utilisateur auteur de l'avis : --}}
        <div id="review-author">
            <p><b>Rédigé par:</b> <i>{{User.user_username}}</i></p>
        </div>
        {{!-- Affichage éventuel de la date de publication :
        <div class="dateReview">
            Date ?
        </div> --}}
    </div>
</div>