<div class="card-container m-2">

    {{!-- First Face --}}
    <div id="SimpleMovieCard" class="movieCard container-fluid bg-primary p-2 d-flex flex-column align-items-center">
        
        <h3>{{movie_title}}</h3>  

        <img src="{{movie_poster_url}}?raw=true" alt="{{movie_poster_url}}_poster" class="moviePoster border border-2 my-3">

        <p id="movieNote" class="bg-info">Note : {{movie_avg_note}}</p>
        <p id="movieEmotions" class="bg-info">Une liste de 5 émotions.{{emotions_a_mettre}}</p>
        <button class="switchButton btn btn-block btn-warning border rounded-circle">Retourner</button>
        
    </div>

    {{!-- ---------------------------------------------------------------------------------------------------------- --}}

    <br>
    {{!-- Second Face --}}
    <div id="DetailedMovieCard" class="movieCard container-fluid bg-primary p-2 d-flex flex-column align-items-center">
        <h3>{{movie_title}}</h3>
        <img src="{{movie_poster_url}}?raw=true" alt="{{movie_poster_url}}_poster" class="w-50 mh-50 border border-2 my-4">

        <div class="infoMovie">
            <p id="movieGenre" class="bg-info">
                {{#if this.Genres}}
                    {{#each this.Genres}}
                        - {{this.genre_libelle}}
                    {{/each}}
                {{else}}
                    Aucun genre associé...
                {{/if}}
            </p>
            <p id="movieDir" class="bg-info">
                {{#if this.Directors}}
                    {{#each this.Directors}}
                        Réalisateur: {{this.director_firstname}} {{this.director_lastname}}
                    {{/each}}
                {{else}}
                    Aucun réalisateur associé à ce film.
                {{/if}}
            </p>
            <p id="movieRuntime" class="bg-info">Durée: {{convertRuntime movie_runtime}}</p>
            <p id="movieReleasedDate" class="bg-info">Date de sortie: {{convertDateFormat movie_released_date}}</p>
        </div>
        <button class="switchButton btn btn-block btn-warning ms-3 border rounded-circle">Retourner</button>
    </div>  
</div>