{{!-- Partials / Template d'affichage des films : --}}
<div class="card-container">

    {{!-- Première face de la carte (recto) : --}}
    <div id="SimpleMovieCard" class="movieCard">
        
        {{!-- Afficher le titre du film : --}}
        <h3>{{movie_title}}</h3>  

        {{!-- Afficher le poster du film : --}}
        <img src="{{movie_poster_url}}?raw=true" alt="{{movie_poster_url}}_poster" class="moviePoster">

        {{!-- Afficher la note du film : --}}
        <p class="movieNote"><b>Note :</b> {{movie_avg_note}}</p>

        {{!-- Afficher les émotions les plus votées du film : --}}
        {{#if popularEmotions}}     {{!-- Si les émotions populaires existent : --}}
            <p class="movieEmotions"><b>Emotions populaires :</b> {{popularEmotions}}</p>
        {{else}}    {{!-- Sinon : --}}
            <p class="movieEmotions">Avis insuffisants</p>
        {{/if}}

        {{!-- Section des boutons de la carte : --}}
        <div class="buttonsDiv">
            {{!-- Bouton de redirection vers la page d'avis correspondante : --}}
            <button id="addReviewTo{{movie_id_movie}}" class="reviewButton" onclick="window.location.href='/share-review?movie={{movie_id_movie}}'">Partager un avis</button>
            {{!-- Bouton pour retourner la carte : --}}
            <button class="switchButton">Retourner</button>
        </div>
        
    </div>

    {{!-- -------------------------------------------------- --}}

    {{!-- Seconde Face de la carte (verso) --}}
    <div id="DetailedMovieCard" class="movieCard">
        
        {{!-- Afficher le titre du film : --}}
        <h3>{{movie_title}}</h3>  

        {{!-- Afficher le poster du film : --}}
        <img src="{{movie_poster_url}}?raw=true" alt="{{movie_poster_url}}_poster" class="moviePoster">

        {{!-- Conteneur des informations détaillées du film : --}}
        <div class="infoMovie">
            {{!-- Afficher les genres du film : --}}
            <div id="movieGenre">
                {{!-- Si la structure contenant les genres n'est pas vide : --}}
                {{#if this.Genres}}
                    <b>Genres: </b>
                    {{!-- Pour chaque genre stocké dans la structure Genre : --}}
                    <ul>
                        {{#each this.Genres}}
                            {{!-- Afficher le genre : --}}
                            <li>{{this.genre_libelle}}</li>
                        {{/each}}
                    </ul>
                {{!-- Sinon : --}}
                {{else}}
                    Aucun genre associé...
                {{/if}}
            </div>

            {{!-- Afficher les réalisateurs du film : --}}
            <p id="movieDir">
                {{!-- Si la structure contenant les réalisateurs n'est pas vide : --}}
                {{#if this.Directors}}
                {{!-- Pour chaque réalisateur stocké dans la structure Director : --}}
                    {{#each this.Directors}}
                        {{!-- Afficher le réalisateur : --}}
                        <b>Réalisateur: </b> {{this.director_firstname}} {{this.director_lastname}}
                    {{/each}}
                {{!-- Sinon : --}}
                {{else}}
                    Aucun réalisateur associé à ce film.
                {{/if}}
            </p>

            {{!-- Afficher la durée du film : --}}
            <p id="movieRuntime"><b>Durée: </b> {{convertRuntime movie_runtime}}</p>

            {{!-- Afficher la date de sortie du film : --}}
            <p id="movieReleasedDate"><b>Sortie:</b> {{convertDateFormat movie_released_date}}</p>
        </div>

        {{!-- Bouton pour retourner la carte : --}}
        <div class="buttonsDiv">
            <button class="switchButton">Retourner</button>
        </div>
    </div>      
</div>